body {
    background-image: url(pictures/quiz\ image.jpg); 
    width: 100%;
    height: auto;
}

h1 {
    color: purple;
    margin-bottom: 20px;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
}

.container {
    color: black;
    background-color: orangered;
    margin-top: 5px;
    padding: 50px;
    border: 1px solid black;
}